.container--right{
  @include mq(mobile){
        width: auto;
        margin: 0 auto;
    }
    @include mq(tablet){
      width: 300px;
      margin-left: auto;
      margin-right: 0;
    }
    @include mq(default){
      width: 590px;
      margin-left: auto;
      margin-right: 0;
    }
    @include mq(desktop){
      width: 900px;
      margin-left: auto;
      margin-right: 0;
    }
}
.container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: auto;
        margin-left: auto;
      
        @include mq(mobile) {
          max-width: 375px;
          margin-right: auto;
          margin-left: auto;
        }
      
        @include mq(tablet) {
          max-width: 628px;
          padding-left: 5px;
          padding-right: 5px;
        }
      
        @include mq(default) {
          max-width: 960px;
          padding-left: 15px;
          padding-right: 15px;
        }
        @include mq(desktop) {
          max-width: 1440px;
          padding-left: 15px;
          padding-right: 15px;
        }
    
    // position: relative;
}