<section  id="experience" >
    <div class="fixed">
        <div class="dby">
            <a href="https://dribbble.com/dominacreative">
            <img src="/images/DBY/dribbble.svg" alt="dribbble" class="dribbble">
        </a>
        <a href="https://www.behance.net/dominacreative">
            <img src="/images/DBY/behance.svg" alt="behance" class="behance">
        </a>
        <a href="https://www.youtube.com/channel/UCB44eBjR8DyF_hqYFlrpQvg">
            <img src="/images/DBY/youtube.svg" alt="youtube" class="youtube">
        </a>
        </div>
        <div class="selected">
            <span class="select-work">Selected Works</span>
        </div>
    </div>
    <div class="container" >
        <div class="descr container--right">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

            <lottie-player src="https://lottie.host/de8a9f2a-1fd4-4158-9137-c86590bdb73f/3arPUvTl9c.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
        <div class="container--right bg-exp">
            <div class="dis">
                    <h1 class="exp-title">Industry Experience</h1>
                
                    <ul class="exp-ul">
                        <li class="exp-li"><a href="" class="ex-item">HR Tech</a></li>
                        <li class="exp-li"><a href="" class="ex-item">General Aviation</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Fulfillment</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Healthcare</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Investment</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Wellness</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Uber-like Delivery</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Booking</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Food & Beverage</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Social Media Marketing</a></li>
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
</section>