<section class="container">
    <div class="exflex">
        <div class="fixed">
                <div class="dby">
                    <a href="https://dribbble.com/dominacreative">
                    <img src="/images/DBY/dribbble.svg" alt="dribbble" class="dribbble">
                </a>
                <a href="https://www.behance.net/dominacreative">
                    <img src="/images/DBY/behance.svg" alt="behance" class="behance">
                </a>
                <a href="https://www.youtube.com/channel/UCB44eBjR8DyF_hqYFlrpQvg">
                    <img src="/images/DBY/youtube.svg" alt="youtube" class="youtube">
                </a>
                </div>
                <div class="selected">
                    <span class="select-work">Selected Works</span>
                </div>
        </div>
        <div>
            <div class="discription__container container--right">
            <div class="discription__item">
                <span class="hero__description">Mobile App</span>
                <span class="hero__description">Web Design</span>
                <span class="hero__description">Web App design</span>
            </div>
            <div class="discription__item">
                <span class="hero__description">SaaS product design</span>
                <span class="hero__description">Social Media Strategy</span>
            </div>
            <div class="discription__item">
                <span class="hero__description">Animation</span>
                <span class="hero__description">Interaction Design</span>
                <span class="hero__description">Branding</span>
            </div>
        </div>
        <div class="container--right bg-exp">
            <div class="dis">
                    <h1 class="exp-title">Industry Experience</h1>
                
                    <ul class="exp-ul">
                        <li class="exp-li"><a href="" class="ex-item">HR Tech</a></li>
                        <li class="exp-li"><a href="" class="ex-item">General Aviation</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Fulfillment</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Healthcare</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Investment</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Wellness</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Uber-like Delivery</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Booking</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Food & Beverage</a></li>
                        <li class="exp-li"><a href="" class="ex-item">Social Media Marketing</a></li>
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
</section>