<section class="footer_bg">
    <div class="container footer">
        <div>
            <span class="tax">
                ©2023 This site is owned and operated by Olena Zarembo.
                <br/> Id 3375716622 Ukraine, Kyiv, 01133, Mechnikova Street 10/2 apt. 84
                <br/>+380660510515
                <br/>theprizm@tuta.io
            </span>
        </div>
        <div class="right">
            <span class="dev">
                Developed by Domina Serhii
            </span>
            <a href="" class="tap">
               Go to Top 
            </a>
        </div>
    </div>
</section>