<header>
    <div class="container">
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__item">
                    <img src="/images/Nav/Home.svg" alt="Home" class="icon__nav">
                    <a href="#home" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <img src="/images/Nav/Experience.svg" alt="Experience" class="icon__nav">
                    <a href="#experience" class="nav__link">Experience</a>
                </li>
                <li class="nav__item">
                    <img src="/images/Nav/Work.svg" alt="Work" class="icon__nav">
                    <a href="work" class="nav__link">Work</a>
                </li>
                <li class="nav__item">
                    <img src="/images/Nav/Contact.svg" alt="Contact" class="icon__nav">
                    <a href="#contact" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>