<section>
    <div    class="container">
        <div class="logo__container"><a href="" class="logo"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://lottie.host/dddc5b60-0631-4618-82d5-42abc3d15040/tLVie0GRWj.json" background="transparent" speed="1" style="" loop autoplay class="Logo"></lottie-player></a></div>
        <div class="container--right hero__container"><h1 class="hero__title">Bespoke Design & Dev Solutions fulfilling the needs of both businesses and users</h1></div>
    </div>

</section>