<section>
    <div class="container">
    <h1 class="work-title">Selected Works</h1>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">JobGet</h5></li>
                <li><h2 class="desc-work">Award winning <br> recruitment app</h2></li>
                <li class="content">JobGet is a strong and well established brand although still in startup phase. Late November 2019 JobGet were granted a $250,000 prize during MIT Inclusive Innovation Challenge. They were recognised as an innovative mobile platform that matches low-income job seekers with employers</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/JobGet/video_call.svg" alt="video_call" class="video_call">
                <img src="/images/JobGet/desktop.svg" alt="desktop" class="desktop">
                <img src="/images/JobGet/calendar_paint.svg" alt="calendar_paint" class="calendar_paint">
                <img src="/images/JobGet/mobile_one.svg" alt="mobile_one" class="mobile_one">
                <img src="/images/JobGet/mobile_two.svg" alt="mobile_two" class="mobile_two">
                <img src="/images/JobGet/calendar.svg" alt="calendar" class="calendar">
                <img src="/images/JobGet/text.svg" alt="text" class="text">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Cloudscent</h5></li>
                <li><h2 class="desc-work">Premium Aroma  <br> Diffuser iOS App</h2></li>
                <li class="content">CloudScent is a producer of premium scenting devices in Canada. Device works pretty easy: user inserts 3 cartridges and turns the device on. All other manipulations with device and scents had to happen within the iOS app.</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/JobGet/video_call.svg" alt="video_call" class="video_call">
                <img src="/images/JobGet/desktop.svg" alt="desktop" class="desktop">
                <img src="/images/JobGet/calendar_paint.svg" alt="calendar_paint" class="calendar_paint">
                <img src="/images/JobGet/mobile_one.svg" alt="mobile_one" class="mobile_one">
                <img src="/images/JobGet/mobile_two.svg" alt="mobile_two" class="mobile_two">
                <img src="/images/JobGet/calendar.svg" alt="calendar" class="calendar">
                <img src="/images/JobGet/text.svg" alt="text" class="text">
        </div>
    </div>
</div>
</section>