<section>
    <div class="container">
    <h1 class="work-title">Selected Works</h1>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">JobGet</h5></li>
                <li><h2 class="desc-work">Award winning <br> recruitment app</h2></li>
                <li class="content">JobGet is a strong and well established brand although still in startup phase. Late November 2019 JobGet were granted a $250,000 prize during MIT Inclusive Innovation Challenge. They were recognised as an innovative mobile platform that matches low-income job seekers with employers</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/JobGet/video_call.svg" alt="video_call" class="video_call">
                <img src="/images/JobGet/desktop.svg" alt="desktop" class="desktop">
                <img src="/images/JobGet/calendar_paint.svg" alt="calendar_paint" class="calendar_paint">
                <img src="/images/JobGet/mobile_one.svg" alt="mobile_one" class="mobile_one">
                <img src="/images/JobGet/mobile_two.svg" alt="mobile_two" class="mobile_two">
                <img src="/images/JobGet/calendar.svg" alt="calendar" class="calendar">
                <img src="/images/JobGet/text.svg" alt="text" class="text">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Project under NDA</h5></li>
                <li><h2 class="desc-work">Premium Aroma  <br> Diffuser iOS App</h2></li>
                <li class="content">Client is a producer of premium scenting devices in Canada. Device works pretty easy: user inserts 3 cartridges and turns the device on. All other manipulations with device and scents had to happen within the iOS app.</li>
                <li>
                    <a href="" class="view">
                        Request Info
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/Aroma/approw.svg" alt="video_call" class="approw">
                <img src="/images/Aroma/mobile_aroma.svg" alt="aroma_mobile" class="aroma_mobile">
                <img src="/images/Aroma/mobile_aroma_two.svg" alt="aroma_mobile_two" class="aroma_mobile_two">
                <img src="/images/Aroma/recipe.svg" alt="recipe" class="recipe">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Airlog Monitor</h5></li>
                <li><h2 class="desc-work">Aviation Asset   <br> Management Platform</h2></li>
                <li class="content">Airlog Monitor platform is aiming to connect aircraft owners, pilots, maintenance organizations and authorities in one system that keeps all valuable aircraft data in one place. On top of that system has blockchain technology implemented to make data records on the aircraft journey and maintenance securely stored without ability to being accidentally deleted.</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/AirLog/desktop_airlog.svg" alt="desktop_airlog" class="desktop_airlog">
                <img src="/images/AirLog/mobile_airlog.svg" alt="mobile_airlog" class="mobile_airlog">
                <img src="/images/AirLog/tab_airlog.svg" alt="tab_airlog" class="tab_airlog">
                <img src="/images/AirLog/popup_airlog.svg" alt="popup_airlog" class="popup_airlog">
                <img src="/images/AirLog/cloud_airlog.svg" alt="cloud_airlog" class="cloud_airlog">
                <img src="/images/AirLog/cloud_twoi_airlog.svg" alt="cloud_twoi_airlog" class="cloud_twoi_airlog">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Membersy Connect</h5></li>
                <li><h2 class="desc-work">Dental Insurance  <br> Management <br> Web app </h2></li>
                <li class="content">Airlog Monitor platform is aiming to connect aircraft owners, pilots, maintenance organizations and authorities in one system that keeps all valuable aircraft data in one place. On top of that system has blockchain technology implemented to make data records on the aircraft journey and maintenance securely stored without ability to being accidentally deleted.</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/Membersy/desktop_membersy.svg" alt="desktop_membersy" class="desktop_membersy">
                <img src="/images/Membersy/popup_membersy.svg" alt="popup_membersy" class="popup_membersy">
                <img src="/images/Membersy/bg_big_membersy.svg" alt="bg_big_membersy" class="bg_big_membersy">
                <img src="/images/Membersy/bg_small_membersy.svg" alt="bg_small_membersy" class="bg_small_membersy">
        </div>
    </div>
    
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Chronic Ink</h5></li>
                <li><h2 class="desc-work">Booking Web <br> Application </h2></li>
                <li class="content">Chronic Ink is the largest tattoo studio in Toronto. Growing business of Chronic Ink tattoo required an easy-to-use appointment booking tool, that would allow studio’s admins to create appointments through desktop dashboard.</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/Chronik/desktop_chronik.svg" alt="desktop_chronik" class="desktop_chronik">
                <img src="/images/Chronik/tab_chronik.svg" alt="tab_chronik" class="tab_chronik">
                <img src="/images/Chronik/anketa_chronik.svg" alt="anketa_chronik" class="anketa_chronik">
                <img src="/images/Chronik/date_chronik.svg" alt="date_chronik" class="date_chronik">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Winosaurus</h5></li>
                <li><h2 class="desc-work">App for Wine <br> Recommendation</h2></li>
                <li class="content">Winosaurus is helping anyone to grab that one special bottle of wine that will suit the budget, party atmosphere and will perfectly match with the food you’re about to prepare.
                    Not a wine expert? Is this wine good enough for...? Winosaurus will do everything for you!</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/Wine/mobile_wine.svg" alt="mobile_wine" class="mobile_wine">
                <img src="/images/Wine/mobile_two_wine.svg" alt="mobile_two_wine" class="mobile_two_wine">
                <img src="/images/Wine/popup_wine.svg" alt="popup_wine" class="popup_wine">
                <img src="/images/Wine/glase_wine.svg" alt="glase_wine" class="glase_wine">
        </div>
    </div>
    <div class="item">
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">Social Media</h5></li>
                <li><h2 class="desc-work"> Instagram <br> Automation Tool</h2></li>
                <li class="content">Growing your brannd on Instagram is tough especially with constantly changing algorythms. This dashboard allows to grow accounts by performing automated actions. All you have to concentrate on is providing great quality content.</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div class="block-img">
                <img src="/images/Social/top_social.svg" alt="top_social" class="top_social">
                <img src="/images/Social/username_social.svg" alt="username_social" class="username_social">
                <img src="/images/Social/desktop_social.svg" alt="desktop_social" class="desktop_social">
        </div>
    </div>
</div>
</section>