
.bg-contact{
    width: 100%;
    padding-top: 47px;
    padding-bottom: 120px;
    background-color: var(--rasp);
}
.contact{

}
.action{
    font-style: normal;
font-weight: 900;
font-size: 36px;
margin-bottom: 45px;
margin-left: 245px;
line-height: 49px;
color: transparent;
-webkit-text-stroke: 2px var(--most-light);

}

.mail{
    font-style: normal;
font-weight: 800;
font-size: 72px;
margin-left: 245px;
line-height: 98px;
text-align: center;
color: var(--most-light);
}
