
.bg-contact{
    @media screen and (max-width: 576px){
        width: 100%;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: var(--rasp);
    }
    @media screen and (min-width: 577px){
        width: 100%;
        padding-top: 47px;
        padding-bottom: 120px;
        background-color: var(--rasp);
    }
}


.contact{

}


.action{
    @media screen and (max-width: 576px){
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: 40px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 1px var(--most-light);
    }
    @media screen and (min-width: 577px){
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 45px;
        margin-left: 180px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 2px var(--most-light);
    }
}


.mail{
    @media screen and (max-width: 576px){
        display: block;
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        margin: 0 auto;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }
    @media screen and (min-width: 577px){
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        margin-left: 245px;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }    
}
