
.bg-contact{
    @media screen and (max-width: 576px){
        width: 100%;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: var(--rasp);
    }
    @media screen and (min-width: 577px){
        width: 100%;
        padding-top: 47px;
        padding-bottom: 120px;
        background-color: var(--rasp);
    }
}


.contact{

}


.action{
    @include mq(mobile){
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 30px;
        margin-left: 40px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 1px var(--most-light);
    }
    @include mq(tablet){
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        margin-bottom: 30px;
        margin-left: 40px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 1px var(--most-light);
    }
    @include mq(default){
        font-style: normal;
        font-weight: 900;
        font-size: 27px;
        margin-bottom: 45px;
        margin-left: 80px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 1px var(--most-light);
    }
    @include mq(desktop){
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 85px;
        margin-left: 140px;
        line-height: 49px;
        color: transparent;
        -webkit-text-stroke: 1px var(--most-light);
    }
}


.mail{
    @include mq(mobile){
        display: block;
        font-style: normal;
        font-weight: 800;
        font-size: 21px;
        margin: 0 auto;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }
    @include mq(tablet){
        display: block;
        font-style: normal;
        font-weight: 800;
        font-size: 30px ;
        margin: 0 auto;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }
    @include mq(default){
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }    
    @include mq(desktop){
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        margin-bottom: 85px;
        line-height: 0px;
        text-align: center;
        color: var(--most-light);
    }    
}
