


.discription__container{
    @include mq(mobile){
        display: none;
        max-width: 627px;
        
        padding-top: 0px;
        padding-bottom: 28px;
    }
    @include mq(tablet){
        width: 320px;
        overflow: hidden;
        padding-top: 60px;
        padding-bottom: 28px;
    }
    @include mq(default){
        width: 580px;
        overflow: hidden;
        padding-top: 73px;
        padding-bottom: 28px;
        background-color: var(--bg);
        text-align: right;
    }
    @include mq(desktop){
        width: 875px;
        overflow: hidden;
        padding-top: 106px;
        padding-bottom: 28px;
        background-color: var(--bg);
        text-align: right;
    }
}

.mobile__description{
    @include mq(mobile){
        display: block;
        max-width: 627px;
        font-size: 23px;
        -webkit-text-stroke: 0.4px #fff;
    }
    @include mq(tablet){
        display: none;
        font-size: 18px;
        -webkit-text-stroke: 0.4px #fff;
    }
    @include mq(default){
        display: none;
        font-size: 35px;
    }
    @include mq(desktop){
        display: none;
        font-size: 50px;
    }
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.36;
    &:not(:last-child){
        margin-right: 20px;
    }
    stroke-width: 1.5px;
    user-select: none;
    animation: strokeAnimation 2s linear infinite;
    animation-direction: alternate;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}


.hero__description{
    @include mq(mobile){
        display: none;
        font-size: 23px;
        -webkit-text-stroke: 0.4px #fff;
    }
    @include mq(tablet){
        display: block;
        font-size: 18px;
        -webkit-text-stroke: 0.4px #fff;
    }
    @include mq(default){
        display: block;
        font-size: 35px;
    }
    @include mq(desktop){
        display: block;
        font-size: 50px;
    }
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.36;
    &:not(:last-child){
        margin-right: 20px;
    }
    stroke-width: 1.5px;
    user-select: none;
    animation: strokeAnimation 2s linear infinite;
    animation-direction: alternate;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

@keyframes strokeAnimation {
    0% {
      stroke-dashoffset: 0;
      stroke-dasharray: 0 50%;
      fill: transparent;
    } 
    40% {
      stroke-dashoffset: 155;
    }
    70% {
      stroke-dashoffset: 260;
      stroke-dasharray: 70% 0;
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 520;

    }
  }

.discription__item{
    @include mq(mobile){
        display: flex;
    &:not(:last-child){
        margin-bottom: 20px;
    }
    }
    @include mq(tablet){
        display: flex;
        &:not(:last-child){
            margin-bottom: 7px;
        }
    }
    @include mq(default){
        display: flex;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    @include mq(desktop){
        display: flex;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
}

.ex-item{
    @include mq(mobile){
        font-weight: 600;
        font-size: 17px;
        line-height: 1.36;
        color: var(--exp);
    }
    @include mq(tablet){
        font-weight: 600;
        font-size: 17px;
        line-height: 1.36;
        color: var(--exp);
    }
    @include mq(default){
        font-weight: 600;
        font-size: 27px;
        line-height: 1.36;
        color: var(--exp);
    }
    @include mq(desktop){
        font-weight: 600;
        font-size: 36px;
        line-height: 1.36;
        color: var(--exp);
    }
}


.exp-ul{
    @include mq(mobile){
        margin-left: 65px;
    }
    @include mq(tablet){
        margin-left: 55px;
    }
    @include mq(default){
        margin-left: 170px;
    }   
    @include mq(desktop){
        margin-left: 204px;
    }   
}
.exp-li{
    @include mq(mobile){
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    @include mq(tablet){
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    @include mq(default){
        &:not(:last-child){
            margin-bottom: 45px;
        }
    }   
    @include mq(desktop){
        &:not(:last-child){
            margin-bottom: 45px;
        }
    }
}


.exp-title{
    @include mq(mobile){
        margin-left: -115px;
        margin-top: 150px;
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.1;
    color: var(--yellow);
    transform: rotate(-90deg);
    }
    @include mq(tablet){
        margin-left: -115px;
        margin-top: 150px;
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.1;
    color: var(--yellow);
    transform: rotate(-90deg);
    }
    @include mq(default){
        margin-left: -187px;
        margin-top: 220px;
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    line-height: 68px;
    color: var(--yellow);
    transform: rotate(-90deg);
    } 
    @include mq(desktop){
        margin-left: -187px;
        margin-top: 220px;
    position: absolute;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: var(--yellow);
    transform: rotate(-90deg);
    } 
}


.bg-exp{
    background-color: var(--body-bg);
}
.dis{
    @include mq(mobile){
        position: relative;
        display: flex;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 36px; 
    }
    @include mq(tablet){
        position: relative;
        display: flex;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 36px; 
    }
    @include mq(default){
        position: relative;
        display: flex;
        padding-left: 56px;
        padding-top: 80px;
        padding-bottom: 80px;
    }  
    @include mq(desktop){
        position: relative;
        display: flex;
        padding-left: 56px;
        padding-top: 120px;
        padding-bottom: 116px;
    }  
}
.fixed{
    @include mq(mobile){
        position: relative;
        float: none;
    }
    @include mq(tablet){
        position: sticky;
        top: 260px;
        float: left;
        bottom: 0;
    }
    @include mq(default){
        position: sticky;
        float: left;
        top: 45%;
        bottom: 0;
    }   
    @include mq(desktop){
        position: sticky;
        float: left;
        top: 55%;
        bottom: 0;
    }   
}


.dby{
    @include mq(mobile){
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    justify-content: center;
    }
    @include mq(tablet){
    width: 296px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    justify-content: center;
    }
    @include mq(default){
    width: 338px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    }   
    @include mq(desktop){
    width: 506px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: center;
    }   
}


.dribbble{
    @include mq(mobile){
        width: 39px;
    }
    @include mq(tablet){
       width: 39px;
    }
    @include mq(default){
        width: 41px;
    }   
    @include mq(desktop){
        width: 62px;
    }   
}

.behance{
    @include mq(mobile){
        width: 39px;
        margin-right: 24px;
        margin-left: 24px; 
    }
    @include mq(tablet){
        width: 39px;
        margin-right: 24px;
        margin-left: 24px; 
    }
    @include mq(default){
        width: 41px;
        margin-right: 24px;
        margin-left: 24px; 
    }   
    @include mq(desktop){
        width: 62px;
        margin-right: 24px;
        margin-left: 24px; 
    }   
}

.youtube{
    @include mq(mobile){
        width: 39px;
    }
    @include mq(tablet){
        width: 39px;
    }
    @include mq(default){
        width: 41px;
    }   
    @include mq(desktop){
        width: 62px;
    } 
}


.selected{
    @include mq(mobile){
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 576px;
        height: 98px;
        background-color: var(--rasp);

    }
    @include mq(tablet){
        display: flex;
        text-align: center;
        align-items: center;
        width: 296px;
        height: 98px;
        background-color: var(--rasp);
    }
    @include mq(default){
        display: flex;
        text-align: center;
        align-items: center;
    width: 338px;
    height: 201px;
    background-color: var(--rasp);
    }
    @include mq(desktop){
        display: flex;
        text-align: center;
        align-items: center;
    width: 506px;
    height: 301px;
    background-color: var(--rasp);
    }
}


.select-work{
    @include mq(mobile){

        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 1.3;
        color: var(--most-light);
    }
    @include mq(tablet){


        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 1.3;
        color: var(--most-light);
    }
    @include mq(default){
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 1.3;
        color: var(--most-light);
    }
    @include mq(desktop){

        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 1.3;
        color: var(--most-light);
    }
}