.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer_bg{
    background-color: var(--body-bg);
    padding-top: 25px;
    padding-bottom: 40px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    margin-top: -50px;
}
.tax{
    font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 19px;

color: var(--most-light);
}

.dev{
    font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 1.3;
text-align: right;
margin-right: 43px;
color: var(--most-light);
}

.go{
    


}
.tap{
display: block;
width: 112px;
height: 112px;
border-radius: 50%;
background-color: var(--rasp);
text-align: center;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
text-align: center;
color: var(--body-bg);
padding: 45px 10px;
}
.right{
    display: flex;
    align-items: baseline;
}