.footer{
  
    @media screen and (max-width: 576px){
        display: block;
        align-items: center;
        text-align: center;
    }
    @media screen and (min-width: 577px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
.footer_bg{
    @media screen and (max-width: 576px){
    background-color: var(--body-bg);
    padding-top: 45px;
    padding-bottom: 140px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    margin-top: -50px;
    }
    @media screen and (min-width: 577px){
    background-color: var(--body-bg);
    padding-top: 25px;
    padding-bottom: 40px;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    margin-top: -50px;
    }
    
}
.tax{
    @media screen and (max-width: 576px){
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 14px;
        line-height: 19px;
        color: var(--most-light);
    }
    @media screen and (min-width: 577px){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: var(--most-light);
    }

font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 19px;

color: var(--most-light);
}

.dev{
    @media screen and (mobile){
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        margin-right: 0;
        margin-bottom: 14px;
        color: var(--most-light);
    }
    @include mq(tablet){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        text-align: right;
        margin-right: 5px;
        color: var(--most-light);
    }
    @include mq(default){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        text-align: right;
        margin-right: 30px;
        color: var(--most-light);
    }
    @include mq(desktop){
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        text-align: right;
        margin-right: 43px;
        color: var(--most-light);
    }
   
}

.go{
    


}
.tap{
    @media screen and (max-width: 576px){
        display: block;
width: 112px;
height: 112px;
margin: 0 auto;
border-radius: 50%;
background-color: var(--rasp);
text-align: center;
font-style: normal;

font-weight: 800;
font-size: 14px;
line-height: 22px;
text-align: center;
color: var(--body-bg);
padding: 45px 10px;
    }
    @media screen and (min-width: 577px){
        display: block;
width: 112px;
height: 112px;
border-radius: 50%;
background-color: var(--rasp);
text-align: center;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
text-align: center;
color: var(--body-bg);
padding: 45px 10px;
    }
}


.right{
    @include mq(mobile){
        display: block;
        text-align: center;
    }
    @include mq(tablet){
        display: flex;
        align-items: center;
    }
    @include mq(default){
        display: flex;
        align-items: baseline;
    }
    @include mq(desktop){
        display: flex;
        align-items: baseline;
    }
}