.hero__title{
    
    @include mq(mobile){
        width: 100%;
        margin: 0 auto;
        font-family: Poppins;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.5;
        z-index: 3;
    }
    @include mq(tablet){
        width: 100%;
        margin: 0 auto;
        font-family: Poppins;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.5;
    
    }
    @include mq(default){
        width: 100%;
        font-family: Poppins;
        font-weight: 600;
        font-size: 45px;
        line-height: 1.5;
      
    }
    @include mq(desktop){
        width: 100%;
        font-family: Poppins;
        font-weight: 600;
        font-size: 60px;
        line-height: 1.5;
        z-index: 3;
    }
    -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 300% 300%;
        background-image: linear-gradient(-45deg, #ff8725, #ff11cb, #23a6d5, #23d5ab);
        animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hero__container{
    @include mq(mobile){
        padding-bottom: 30px;
        padding-top: 30px;
        
    }
    @include mq(tablet){
        padding-bottom: 80px;
        padding-top: 30px;
    }
    @include mq(default){
        padding-bottom: 190px;
        padding-top: 71px;
    }
    @include mq(desktop){
        padding-bottom: 150px;
        padding-top: 71px;
        z-index: 3;
    } 
}



