.nav{
    position: fixed;
    z-index: 1;
    width: 233px;
left: 0px;
top: 253px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
padding: 46px 0 39px;

background: rgba(54, 54, 54, 0.3);
backdrop-filter: blur(8px);

}
.nav__link{
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: var(--most-light);
    display: block;
    outline: none;
padding: 5px 74px 4px 70px;
border-radius: 0px 15px 15px 0;
&:hover,&:focus{
    background-color: var(--most-light);
    color: var(--fill-back);
}
}
.nav__item{


    &:not(:last-child){
        margin-bottom: 8px;
    }
}