.item{
    @media screen and (min-width: 375px) and (max-width: 627px) {
        display: block;
        flex-direction: column;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 90px;
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 100px;
    }
    @media screen and (min-width: 1440px){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 120px;
    }
}
.work-title{
    @media screen and (min-width: 375px) and (max-width: 627px)  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    color: var(--yellow);
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        text-align: center;
        margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size:35px;
    line-height: 1.3;
    color: var(--yellow);
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
        text-align: center;
        margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.3;
    color: var(--yellow);
    }
    @media screen and (min-width: 1440px){
        margin-top: 182px;
        margin-bottom: 182px;
        margin-left: 224px;
        font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    color: var(--yellow);
    }
}


.content{
    @media screen and (min-width: 375px) and (max-width: 627px) {
        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
        max-width: 307px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    } 
    @media screen and (min-width: 1440px){
        max-width: 307px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    } 
}


.block-text{
    @media screen and(min-width: 375px) and (max-width: 627px){
        margin: 0 auto;
        width: 340px;
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        width: 390px;
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
        width: 390px;
    }
    @media screen and (min-width: 1440px){
        width: 390px;
    }
    
}

.block-img{
    @media screen and (min-width: 375px) and (max-width: 627px){
        display: block;
        margin: 0 auto;
        position: relative;
        width:  345px;
        height: 281px;
        
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        position: relative;
        width:  677px;
        height: 550px;
    }    
    @media screen and (min-width: 960px) and (max-width: 1439px){
        position: relative;
        width:  677px;
        height: 550px;
    }    
    @media screen and (min-width: 1440px){
        position: relative;
        width:  677px;
        height: 550px;
    }    
}


.name-project{
    @media screen and (min-width: 375px) and (max-width: 627px){
        font-size: 12px;
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        font-size: 20px;
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
        font-size: 20px;
    }
    @media screen and (min-width: 1440px){
        font-size: 20px;
    }
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--jobget-blue);
    margin-bottom: 13px;
}
.desc-work{
    @media screen and (min-width: 375px) and (max-width: 627px){
        font-size: 21px;
    }
    @media screen and (min-width: 628px) and (max-width: 959px){
        font-size: 30px;
    }
    @media screen and (min-width: 960px) and (max-width: 1439px){
        font-size: 30px;
    }
    @media screen and (min-width: 1440px){
        font-size: 30px;
    }
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    color: var(--exp);
    margin-bottom: 26px;
}


.view{
    @media screen and (max-width: 576px){
        font-size: 12px;
    }
    @media screen and (min-width: 577px){
        font-size: 16px;
    }
    position: relative;
    font-weight: 700;
    line-height: 22px;
    color:var(--exp);
}


.view::after{
    position: absolute;
    display: block;
    bottom: -7px;
    left: 0;
    content: '';
    width: 100%;
    height: 5px;
    background-color:var(--exp);
    transition: .5s;
    transform: scale(0);
    transform-origin: left;
}
.view:hover:after{
    transform: scale(1);
}

//. JobGet .//

.video_call{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 42px;
        top: 42px;
        z-index: 1; 
        width: 23px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        margin-left: 21px;
        margin-top: 61px;
        z-index: 1; 
    }   
}

.desktop{
    @media screen and (max-width: 576px){
        position: absolute;
        left:  57px;
        top:  19px;
        z-index: 0;
        width: 240px;
        
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 56px;
    top:   0px;
    z-index: 0;
    }   
}


.calendar_paint{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 281px;
        top: 93px;
        width: 29px;
        z-index: 1;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 547px;
        top: 167px;
        z-index: 1;
    } 
}

.mobile_one{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 32px;
        top: 103px;
        z-index: 1; 
        width: 66px;

    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 0px;
        top: 90px;
        z-index: 1; 
    } 
    
}

.mobile_two{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 105px;
        top: 122px;
        z-index: 1;
        width: 66px;
    }
    @media screen and (min-width: 577px){ 
        position: absolute;
        left: 160px;
        top: 240px;
        z-index: 1;   
    }   
}


.calendar{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 161px;
    top: 167px;
    z-index: 1;
    width: 16px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 275px;
        top: 338px;
        z-index: 1; 
    } 
    
}

.text{
    @media screen and (max-width: 576px){
    position: absolute;
    left: 178px;
    top: 167px;
    z-index: 1; 
    width: 109px;
    }
    @media screen and (min-width: 577px){
       position: absolute;
    left: 323px;
    top: 338px;
    z-index: 1; 
    } 
    
}

//.Aroma.//

.approw{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 82px;
        top: 56px;
        z-index: 1;
        width: 140px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 124px;
        top: 80px;
        z-index: 1;
    } 
}


.aroma_mobile{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 100px;
        top: 17px;
        z-index: 0;
        width: 77px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 163px;
        top: 15px;
        z-index: 0;
    } 
    filter: drop-shadow(0px 4px 10px rgba(18, 169, 251, 0.546));
    
}
.aroma_mobile_two{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 185px;
    top: 96px;
    z-index: 0;
    width: 77px;
    
    }
    @media screen and (min-width: 577px){
        position: absolute;
    margin-left: 343px;
    margin-top: 175px;
    z-index: 0;
    } 
    filter: drop-shadow(0px 4px 10px rgba(18, 169, 251, 0.546));
}
.recipe{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 126px;
    top: 190px;
    z-index: 1;
    width: 67px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 220px;
    top: 368px;
    z-index: 1;
    } 
}

//. Airlog .//

.desktop_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 40px;
    top: 19px;
    z-index: 0;
    width: 235px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 60px;
        top: 47px;
        z-index: 0; 
    } 
    
}

.mobile_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 244px;
    top: 86px;
    z-index: 1;
    width: 83px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 446px;
    top: 178px;
    z-index: 1;
    }    
}

.tab_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 21px;
    top: 165px;
    z-index: 1;
    width: 202px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 23px;
        top: 315px;
        z-index: 1; 
    }  
}

.popup_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 229px;
    top: 52px;
    z-index: 1;
    width: 55px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 426px;
    top: 103px;
    z-index: 1;
    } 
}

.cloud_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 18px;
        top: 147px;
        z-index: 1;
        width: 30px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 16px;
        top: 295px;
        z-index: 1;
    } 
}

.cloud_two_airlog{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 220px;
    top: 217px;
    z-index: 1;
    width: 34px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 386px;
    top: 457px;
    z-index: 1;
    }   
}

//. Membersy .//

.desktop_membersy{
    @media screen and (max-width: 576px){
        left: 44px;
        top: 60px;
        z-index: 1;
        width: 236px;
    }
    @media screen and (min-width: 577px){
        left: 44px;
        top: 106px;
        z-index: 1;
    } 
    position: absolute;
    
}

.popup_membersy{
    @media screen and (max-width: 576px){
        left: 253px;
    top: 127px;
    z-index: 1;
    width: 55px;
    }
    @media screen and (min-width: 577px){
        left: 495px;
    top: 262px;
    z-index: 1;
    } 
    position: absolute;
    
}

.bg_big_membersy{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 35px;
    top: 43px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 165px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 13px;
    top: 60px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    } 
    
}

.bg_small_membersy{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 261px;
    top: 205px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 31px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
    left: 520px;
    top: 430px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    } 
}


//. Chronik .//


.desktop_chronik{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 75px;
        top: 41px;
        z-index: 0;
        width: 196px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 82px;
        top: 60px;
        z-index: 0;
    } 
}

.tab_chronik{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 53px;
    top: 142px;
    z-index: 1;
    width: 154px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 38px;
        top: 265px;
        z-index: 1; 
    } 
    
}

.anketa_chronik{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 226px;
        top: 89px;
        z-index: 0;
        width: 90px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 401px;
        top: 172px;
        z-index: 0;
    } 
}

.date_chronik{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 28px;
        top: 173px;
        z-index: 1;
        width: 123px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 11px;
        top: 345px;
        z-index: 0;
    } 
}

//. Wine .//

.mobile_wine{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 65px;
        top: 19px;
        z-index: 0;
        width: 95px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 95px;
        top: 22px;
        z-index: 0;
    } 
}

.mobile_two_wine{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 170px;
        top: 57px;
        z-index: 0;
        width: 95px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 326px;
        top: 85px;
        z-index: 0;
    } 
}

.popup_wine{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 123px;
    top: 201px;
    z-index: 1;
    width: 111px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 220px;
        top: 405px;
        z-index: 1; 
    } 
}

.glase_wine{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 248px;
        top: 79px;
        z-index: 1;
        width: 31px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 495px;
        top: 143px;
        z-index: 1;
    } 
}



//. Social .//

.top_social{
    @media screen and (max-width: 576px){
        position: absolute;
        left: 105px;
        top: 160px;
        z-index: 2;
        width: 110px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 181px;
        top: 362px;
        z-index: 2;
    }
}

.username_social{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 206px;
    top: 145px;
    z-index: 1;
    width: 120px;
    }
    @media screen and (min-width: 577px){
        
    } 
    position: absolute;
    left: 372px;
    top: 312px;
    z-index: 1;
}

.desktop_social{
    @media screen and (max-width: 576px){
        position: absolute;
    left: 52px;
    top: 25px;
    z-index: 0;
    width: 220px;
    }
    @media screen and (min-width: 577px){
        position: absolute;
        left: 38px;
        top: 58px;
        z-index: 0; 
    } 
    
}