.item{
    @include mq(mobile){
        display: block;
        flex-direction: column;
        margin-bottom: 60px;
    }
    @include mq(tablet){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 90px;
    }
    @include mq(default){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 100px;
    }
    @include mq(desktop){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &:nth-child(2n+1) {
      flex-direction: row-reverse;
    }
    margin-bottom: 120px;
    }
}

.block-text{
    @include mq(mobile){
        margin: 0 auto;
        width: 340px;
    }
    @include mq(tablet){
        width: 340px;
    }
    @include mq(default){
        width: 370px;
    }
    @include mq(desktop){
        width: 390px;
    }
}

.block-img{
    display: block;
    @include mq(mobile){
        
        margin: 0 auto;
        position: relative;
        width:  345px;
        height: 281px;
        
    }
    @include mq(tablet) {
        position: relative;
        width:  345px;
        height: 281px;
    }    
    @include mq(default){
        position: relative;
        width:  470px;
        height: 470px;
    }    
    @include mq(desktop) {
        position: relative;
        width:  677px;
        height: 550px;
    }    
}


.work-title{
    @include mq(mobile)  {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    color: var(--most-light);
    }
    @include mq(tablet) {
        text-align: left;
        margin-top: 80px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size:35px;
    line-height: 1.3;
    color: var(--most-light);
    }
    @include mq(default){
        text-align: left;
        margin-top: 80px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.3;
    color: var(--most-light);
    }
    @include mq(desktop) {
        text-align: left;
        margin-top: 142px;
        margin-bottom: 142px;
        margin-left: 94px;
        font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    color: var(--most-light);
    }
}


.content{
    @include mq(mobile) {
        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    }
    @include mq(tablet){
        
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    }
    @include mq(default){
        // max-width: 307px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    } 
    @include mq(desktop){
        // max-width: 307px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: var(--exp);
        margin-bottom: 26px;
    } 
}


.name-project{
    @include mq(mobile){
        font-size: 12px;
    }
    @include mq(tablet){
        font-size: 18px;
    }
    @include mq(default){
        font-size: 18px;
    }
    @include mq(desktop){
        font-size: 20px;
    }
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--jobget-blue);
    margin-bottom: 13px;
}
.desc-work{
    @include mq(mobile){
        font-size: 21px;
    }
    @include mq(tablet){
        font-size: 30px;
    }
    @include mq(default){
        font-size: 30px;
    }
    @include mq(desktop){
        font-size: 36px;
    }
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    color: var(--exp);
    margin-bottom: 26px;
}


.view{
    @include mq(mobile){
        font-size: 12px;
    }
    @include mq(tablet){
        font-size: 14px;
    }
    @include mq(default){
        font-size: 14px;
    }
    @include mq(desktop){
        font-size: 16px;
    }
    position: relative;
    font-weight: 700;
    line-height: 22px;
    color:var(--exp);
}


.view::after{
    position: absolute;
    display: block;
    bottom: -7px;
    left: 0;
    content: '';
    width: 100%;
    height: 5px;
    background-color:var(--exp);
    transition: .5s;
    transform: scale(0);
    transform-origin: left;
}
.view:hover:after{
    transform: scale(1);
}

//. JobGet .//

.video_call{
    @include mq(mobile){
        position: absolute;
        left: 42px;
        top: 42px;
        z-index: 1; 
        width: 23px;
    }
    @include mq(tablet){
        position: absolute;
        left: 42px;
        top: 42px;
        z-index: 1; 
        width: 23px;
    }
 
    @include mq(default){
        position: absolute;
        left: 51px;
        top: 96px;
        z-index: 1; 
        width: 32px;
    }   
    @include mq(desktop){
        position: absolute;
        left: 21px;
        top: 61px;
        z-index: 1; 
        width: 51px;
    }   
}


.desktop{
    @include mq(mobile){
        position: absolute;
        left:  57px;
        top:  19px;
        z-index: 0;
        width: 240px;
        
    }
    @include mq(tablet){
        position: absolute;
        left:  57px;
        top:  19px;
        z-index: 0;
        width: 240px;
        
    }
    @include mq(default){
        position: absolute;
    left: 73px;
    top:   57px;
    z-index: 0;
    width: 335px;
    }   
    @include mq(desktop){
        position: absolute;
    left: 56px;
    top:   0px;
    z-index: 0;
    width: 523px;
    }   
}


.calendar_paint{
    @include mq(mobile){
        position: absolute;
        left: 281px;
        top: 93px;
        width: 29px;
        z-index: 1;
    }
    @include mq(tablet){
        position: absolute;
        left: 281px;
        top: 93px;
        width: 29px;
        z-index: 1;
    }
    @include mq(default){
        position: absolute;
        left: 388px;
        top: 164px;
        z-index: 1;
        width: 40px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 547px;
        top: 167px;
        z-index: 1;
        width: 63px;
    } 
}

.mobile_one{
    @include mq(mobile){
        position: absolute;
        left: 32px;
        top: 103px;
        z-index: 1; 
        width: 66px;
    }
    @include mq(tablet){
        position: absolute;
        left: 32px;
        top: 103px;
        z-index: 1; 
        width: 66px;
    }

    @include mq(default){
        position: absolute;
        left: 35px;
        top: 179px;
        z-index: 1; 
        width: 92px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 0px;
        top: 216px;
        z-index: 1;
        width: 144px; 
    }   
}

.mobile_two{
    @include mq(mobile){
        position: absolute;
        left: 105px;
        top: 122px;
        z-index: 1;
        width: 66px;
    }
    @include mq(tablet){
        position: absolute;
        left: 105px;
        top: 122px;
        z-index: 1;
        width: 66px;
    }
    @include mq(default){ 
        position: absolute;
        left: 139px;
        top: 211px;
        z-index: 1; 
        width: 92px;  
    }   
    @include mq(desktop){ 
        position: absolute;
        left: 160px;
        top: 240px;
        z-index: 1;
        width: 144px;   
    }   
}


.calendar{
    @include mq(mobile){
        position: absolute;
    left: 161px;
    top: 167px;
    z-index: 1;
    width: 16px;
    }
    @include mq(tablet){
        position: absolute;
    left: 161px;
    top: 167px;
    z-index: 1;
    width: 16px;
    }
    @include mq(default){
        position: absolute;
        left: 208px;
        top: 274px;
        z-index: 1; 
        width: 27px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 275px;
        top: 338px;
        z-index: 1; 
        width: 43px;
    }  
}

.text{
    @include mq(mobile){
    position: absolute;
    left: 178px;
    top: 167px;
    z-index: 1; 
    width: 109px;
    }

    @include mq(tablet){
    position: absolute;
    left: 178px;
    top: 167px;
    z-index: 1; 
    width: 109px;
    }

    @include mq(default){
       position: absolute;
    left: 239px;
    top: 274px;
    z-index: 1; 
    width: 195px;
    }    
    @include mq(desktop){
       position: absolute;
    left: 323px;
    top: 338px;
    z-index: 1; 
    width: 304px;
    }    
}

//.Aroma.//

.approw{
    @include mq(mobile){
        position: absolute;
        left: 82px;
        top: 56px;
        z-index: 1;
        width: 140px;
    }
    @include mq(tablet){
        position: absolute;
        left: 82px;
        top: 56px;
        z-index: 1;
        width: 140px;
    }
    @include mq(default){
        position: absolute;
        left: 107px;
        top: 114px;
        z-index: 1;
        width: 174px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 124px;
        top: 80px;
        z-index: 1;
        width: 288px;
    } 
}


.aroma_mobile{
    @include mq(mobile){
        position: absolute;
        left: 100px;
        top: 17px;
        z-index: 0;
        width: 77px;
    }
    @include mq(tablet){
        position: absolute;
        left: 100px;
        top: 17px;
        z-index: 0;
        width: 77px;
    }
    @include mq(default){
        position: absolute;
        left: 130px;
        top: 75px;
        z-index: 0;
        width: 96px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 163px;
        top: 15px;
        z-index: 0;
        width: 160px;
    } 
    filter: drop-shadow(0px 4px 10px rgba(18, 169, 251, 0.546));  
}


.aroma_mobile_two{
    @include mq(mobile){
        position: absolute;
    left: 185px;
    top: 96px;
    z-index: 0;
    width: 77px;
    }
    @include mq(tablet){
        position: absolute;
    left: 185px;
    top: 96px;
    z-index: 0;
    width: 77px;
    }
    @include mq(default){
        position: absolute;
    left: 239px;
    top: 171px;
    z-index: 0;
    width: 96px;
    } 
    @include mq(desktop){
        position: absolute;
    left: 343px;
    top: 175px;
    z-index: 0;
    width: 160px;
    } 
    filter: drop-shadow(0px 4px 10px rgba(18, 169, 251, 0.546));
}
.recipe{
    @include mq(mobile){
        position: absolute;
    left: 126px;
    top: 190px;
    z-index: 1;
    width: 67px;
    }
    @include mq(tablet){
        position: absolute;
    left: 126px;
    top: 190px;
    z-index: 1;
    width: 67px;
    }
    @include mq(default){
        position: absolute;
    left: 165px;
    top: 288px;
    z-index: 1;
    width: 84px;
    } 
    @include mq(desktop){
        position: absolute;
    left: 220px;
    top: 368px;
    z-index: 1;
    width: 140px;
    } 
}

//. Airlog .//

.desktop_airlog{
    @include mq(mobile){
        position: absolute;
    left: 40px;
    top: 19px;
    z-index: 0;
    width: 235px;
    }
    @include mq(tablet){
        position: absolute;
    left: 40px;
    top: 19px;
    z-index: 0;
    width: 235px;
    }
    @include mq(default) {
        position: absolute;
        left: 58px;
        top: 72px;
        z-index: 0;
        width: 314px; 
    } 
    @include mq(desktop) {
        position: absolute;
        left: 60px;
        top: 47px;
        z-index: 0;
        width: 456px; 
    }    
}

.mobile_airlog{
    @include mq(mobile){
        position: absolute;
    left: 244px;
    top: 86px;
    z-index: 1;
    width: 83px;
    }
    @include mq(tablet){
        position: absolute;
    left: 244px;
    top: 86px;
    z-index: 1;
    width: 83px;
    }
    @include mq(default) {
        position: absolute;
    left: 325px;
    top: 165px;
    z-index: 1;
    width: 110px;
    }    
    @include mq(desktop) {
        position: absolute;
    left: 446px;
    top: 178px;
    z-index: 1;
    width: 160px;
    }    
}

.tab_airlog{
    @include mq(mobile){
        position: absolute;
    left: 21px;
    top: 165px;
    z-index: 1;
    width: 202px;
    }
    @include mq(tablet){
        position: absolute;
    left: 21px;
    top: 165px;
    z-index: 1;
    width: 202px;
    }
    @include mq(default) {
        position: absolute;
        left: 33px;
        top: 256px;
        z-index: 1;
        width: 270px; 
    }  
    @include mq(desktop) {
        position: absolute;
        left: 23px;
        top: 315px;
        z-index: 1;
        width: 392px; 
    }  
}

.popup_airlog{
    @include mq(mobile){
        position: absolute;
    left: 229px;
    top: 52px;
    z-index: 1;
    width: 55px;
    }
    @include mq(tablet){
        position: absolute;
    left: 229px;
    top: 52px;
    z-index: 1;
    width: 55px;
    }
    @include mq(default) {
        position: absolute;
    left: 310px;
    top: 120px;
    z-index: 1;
    width: 83px;
    } 
    @include mq(desktop) {
        position: absolute;
    left: 426px;
    top: 103px;
    z-index: 1;
    width: 120px;
    } 
}

.cloud_airlog{
    @include mq(mobile){
        position: absolute;
        left: 18px;
        top: 147px;
        z-index: 1;
        width: 30px;
    }
    @include mq(tablet){
        position: absolute;
        left: 18px;
        top: 147px;
        z-index: 1;
        width: 30px;
    }
    @include mq(default) {
        position: absolute;
        left: 29px;
        top: 245px;
        z-index: 1;
        width: 40px;
    } 
    @include mq(desktop) {
        position: absolute;
        left: 16px;
        top: 295px;
        z-index: 1;
        width: 59px;
    } 
}

.cloud_two_airlog{
    @include mq(mobile){
        position: absolute;
    left: 220px;
    top: 217px;
    z-index: 1;
    width: 34px;
    }
    @include mq(tablet){
        position: absolute;
    left: 220px;
    top: 217px;
    z-index: 1;
    width: 34px;
    }
    @include mq(default) {
        position: absolute;
    left: 283px;
    top: 354px;
    z-index: 1;
    width: 57px;
    }   
    @include mq(desktop) {
        position: absolute;
    left: 386px;
    top: 457px;
    z-index: 1;
    width: 83px;
    }   
}

//. Membersy .//

.desktop_membersy{
    @include mq(mobile){
        left: 44px;
        top: 60px;
        z-index: 1;
        width: 236px;
    }
    @include mq(tablet){
        left: 44px;
        top: 60px;
        z-index: 1;
        width: 236px;
    }
    @include mq(default){
        left: 58px;
        top: 115px;
        z-index: 1;
        width: 357px;
    } 
    @include mq(desktop){
        left: 44px;
        top: 106px;
        z-index: 1;
        width: 520px;
    } 
    position: absolute; 
}

.popup_membersy{
    @include mq(mobile){
        left: 253px;
    top: 127px;
    z-index: 1;
    width: 55px;
    }
    @include mq(tablet){
        left: 253px;
    top: 127px;
    z-index: 1;
    width: 55px;
    }
    @include mq(default){
        left: 368px;
    top: 222px;
    z-index: 1;
    width: 76px;
    } 
    @include mq(desktop){
        left: 495px;
    top: 262px;
    z-index: 1;
    width: 111px;
    } 
    position: absolute;
    
}

.bg_big_membersy{
    @include mq(mobile){
        position: absolute;
    left: 35px;
    top: 43px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 165px;
    }
    @include mq(tablet){
        position: absolute;
    left: 35px;
    top: 43px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 165px;
    }
    @include mq(default){
        position: absolute;
    left: 37px;
    top: 84px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 249px;
    } 
    @include mq(desktop){
        position: absolute;
    left: 16px;
    top: 60px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 363px;
    } 
    
}

.bg_small_membersy{
    @include mq(mobile){
        position: absolute;
    left: 261px;
    top: 205px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 31px;
    }
    @include mq(tablet){
        position: absolute;
    left: 261px;
    top: 205px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 31px;
    }
    @include mq(default){
        position: absolute;
    left: 385px;
    top: 337px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 47px;
    } 
    @include mq(desktop){
        position: absolute;
    left: 523px;
    top: 428px;
    z-index: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 70px;
    } 
}


//. Chronik .//


.desktop_chronik{
    @include mq(mobile){
        position: absolute;
        left: 75px;
        top: 41px;
        z-index: 0;
        width: 196px;
    }
    @include mq(tablet){
        position: absolute;
        left: 75px;
        top: 41px;
        z-index: 0;
        width: 196px;
    }
    @include mq(default){
        position: absolute;
        left: 58px;
        top: 82px;
        z-index: 0;
        width: 325px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 82px;
        top: 60px;
        z-index: 0;
        width: 429px;
    } 
}

.tab_chronik{
    @include mq(mobile){
        position: absolute;
    left: 53px;
    top: 142px;
    z-index: 1;
    width: 154px;
    }
    @include mq(tablet){
        position: absolute;
    left: 53px;
    top: 142px;
    z-index: 1;
    width: 154px;
    }
    @include mq(default){
        position: absolute;
        left: 25px;
        top: 239px;
        z-index: 1; 
        width: 256px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 38px;
        top: 265px;
        z-index: 1; 
        width: 337px;
    } 
    
}

.anketa_chronik{
    @include mq(mobile){
        position: absolute;
        left: 226px;
        top: 89px;
        z-index: 0;
        width: 90px;
    }
    @include mq(tablet){
        position: absolute;
        left: 226px;
        top: 89px;
        z-index: 0;
        width: 90px;
    }
    @include mq(default){
        position: absolute;
        left: 300px;
        top: 167px;
        z-index: 0;
        width: 145px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 401px;
        top: 172px;
        z-index: 0;
        width: 192px;
    } 
}

.date_chronik{
    @include mq(mobile){
        position: absolute;
        left: 28px;
        top: 173px;
        z-index: 1;
        width: 123px;
    }
    @include mq(tablet){
        position: absolute;
        left: 28px;
        top: 173px;
        z-index: 1;
        width: 123px;
    }
    @include mq(default){
        position: absolute;
        left: 0px;
        top: 279px;
        z-index: 2;
        width: 200px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 19px;
        top: 347px;
        z-index: 2;
        width: 266px;
    } 
}

//. Wine .//

.mobile_wine{
    @include mq(mobile){
        position: absolute;
        left: 65px;
        top: 19px;
        z-index: 0;
        width: 95px;
    }
    @include mq(tablet){
        position: absolute;
        left: 65px;
        top: 19px;
        z-index: 0;
        width: 95px;
    }
    @include mq(default){
        position: absolute;
        left: 63px;
        top: 54px;
        z-index: 0;
        width: 152px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 95px;
        top: 22px;
        z-index: 0;
        width: 209px;
    } 
}

.mobile_two_wine{
    @include mq(mobile){
        position: absolute;
        left: 170px;
        top: 57px;
        z-index: 0;
        width: 95px;
    }
    @include mq(tablet){
        position: absolute;
        left: 170px;
        top: 57px;
        z-index: 0;
        width: 95px;
    }
    @include mq(default){
        position: absolute;
        left: 231px;
        top: 101px;
        z-index: 0;
        width: 152px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 326px;
        top: 85px;
        z-index: 0;
        width: 209px;
    } 
}

.popup_wine{
    @include mq(mobile){
        position: absolute;
    left: 123px;
    top: 201px;
    z-index: 1;
    width: 111px;
    }
    @include mq(tablet){
        position: absolute;
    left: 123px;
    top: 201px;
    z-index: 1;
    width: 111px;
    }
    @include mq(default){
        position: absolute;
        left: 155px;
        top: 333px;
        z-index: 1; 
        width: 178px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 202px;
        top: 414px;
        z-index: 1; 
        width: 246px;
    } 
}

.glase_wine{
    @include mq(mobile){
        position: absolute;
        left: 248px;
        top: 79px;
        z-index: 1;
        width: 31px;
    }
    @include mq(tablet){
        position: absolute;
        left: 248px;
        top: 79px;
        z-index: 1;
        width: 31px;
    }
    @include mq(default){
        position: absolute;
        left: 354px;
        top: 143px;
        z-index: 1;
        width: 50px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 495px;
        top: 143px;
        z-index: 1;
        width: 70px;
    } 
}



//. Social .//

.top_social{
    @include mq(mobile){
        position: absolute;
        left: 105px;
        top: 160px;
        z-index: 2;
        width: 110px;
    }
    @include mq(tablet){
        position: absolute;
        left: 105px;
        top: 160px;
        z-index: 2;
        width: 110px;
    }
    @include mq(default){
        position: absolute;
        left: 137px;
        top: 300px;
        z-index: 2;
        width: 154px;
    }
    @include mq(desktop){
        position: absolute;
        left: 181px;
        top: 362px;
        z-index: 2;
        width: 207px;
    }
}

.username_social{
    @include mq(mobile){
        position: absolute;
    left: 206px;
    top: 145px;
    z-index: 1;
    width: 120px;
    }
    @include mq(tablet){
        position: absolute;
    left: 206px;
    top: 145px;
    z-index: 1;
    width: 120px;
    }
    @include mq(default){
        position: absolute;
        left: 279px;
        top: 263px;
        z-index: 1;
        width: 167px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 372px;
        top: 312px;
        z-index: 1;
        width: 225px;
    } 
}

.desktop_social{
    @include mq(mobile){
        position: absolute;
    left: 52px;
    top: 25px;
    z-index: 0;
    width: 220px;
    }
    @include mq(tablet){
        position: absolute;
    left: 52px;
    top: 25px;
    z-index: 0;
    width: 220px;
    }
    @include mq(default){
        position: absolute;
        left: 31px;
        top: 75px;
        z-index: 0; 
        width: 373px;
    } 
    @include mq(desktop){
        position: absolute;
        left: 38px;
        top: 58px;
        z-index: 0; 
        width: 502px;
    } 
    
}